<div class="skills-container">
  <div class="container">
    <h2>My Skills</h2>
    <div class="row gx-5">

      <div class="col-md-6">
        <div class="skill-card" style="border-left: solid 3px #2EE89C;" >
          <h3>Front End</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos consequatur animi perferendis ea, reprehenderit corporis placeat commodi quod ducimus, maxime quibusdam iste ut atque, sequi at. Molestias dolorum asperiores sed.</p>
        </div>
        <div class="skill-card" style="border-left: solid 3px #E8BD5D;" >
          <h3 >UI & UX</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos consequatur animi perferendis ea, reprehenderit corporis placeat commodi quod ducimus, maxime quibusdam iste ut atque, sequi at. Molestias dolorum asperiores sed.</p>
        </div>
        <div class="skill-card" style="border-left: solid 3px #BF46E8;" >
          <h3>Back End</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos consequatur animi perferendis ea, reprehenderit corporis placeat commodi quod ducimus, maxime quibusdam iste ut atque, sequi at. Molestias dolorum asperiores sed.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="iconBox">
          <div class="icon icon1"><i class=" fa-brands fa-angular text-danger"></i></div>
          <div class="icon icon2"><i class="fa-brands fa-node-js" style="color: #2EE89C;"></i></div>
          <div class="icon icon3"><i class="fa-brands fa-html5 text-danger"></i></div>
          <div class="icon icon4"><i class="fa-brands fa-css3-alt" style="color: #BF46E8;"></i></div>
          <div class="icon icon5"><i class="fa-brands fa-bootstrap text-primary"></i></div>
          <div class="icon icon6"><i class="fa-brands fa-sass" style="color: #E8BD5D;"></i></div>
          <div class="icon icon7"><i class="fa-brands fa-git-alt" style="color: #279C6C;"></i></div>

        </div>
      </div>

    </div>
  </div>
</div>
