<div class="skills-container">
  <div class="container">
    <h2>My Skills</h2>
    <div class="row">

      <div class="col-md-4">
        <div class="skill-card">
          <h3>Front End</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos consequatur animi perferendis ea, reprehenderit corporis placeat commodi quod ducimus, maxime quibusdam iste ut atque, sequi at. Molestias dolorum asperiores sed.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="skill-card">
          <h3>UI & UX</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos consequatur animi perferendis ea, reprehenderit corporis placeat commodi quod ducimus, maxime quibusdam iste ut atque, sequi at. Molestias dolorum asperiores sed.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="skill-card">
          <h3>Back End</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos consequatur animi perferendis ea, reprehenderit corporis placeat commodi quod ducimus, maxime quibusdam iste ut atque, sequi at. Molestias dolorum asperiores sed.</p>
        </div>
      </div>
    </div>
  </div>
</div>
