<div class="resume overflow-hidden">
  <div class="container">
    <div class="row p-md-5 p-1 bg-white rounded-2 shadow-lg gx-5 gy-3 pb-4">
      <div class="col-lg-6">
        <div class="row my-4 g-3 p-1">
          <div class="col-md-3">
            <div class="about-img overflow-hidden rounded-2 w-100 shadow-sm">
              <img src="../../assets/Untitled-1.png" width="100%" class="" alt="" srcset="">
            </div>
          </div>
          <div class="col-md-8 d-flex align-items-center offset-md-1">
            <div class="about-info">
              <table>
                <tr><td><p>Name</p></td><td><p>: Ahmed Hassan</p></td></tr>
                <tr><td><p>Profile</p></td><td><p>: Front End Developer</p></td></tr>
                <tr><td><p>Email</p></td><td><p>: ahmedmohamedhasan34@gmail.com</p></td></tr>
                <tr><td><p>Phone</p></td><td><p>: 01119475921</p></td></tr>
              </table>

            </div>
          </div>
          <p-divider align="left">
            <div class="inline-flex align-items-center">
                <!-- <b>Skills</b> -->
                <span class="p-tag skills-title">Skills</span>

            </div>
          </p-divider>
          <div class="col-12">
            <div class="skills">
              <span>Front End</span>
              <p-progressBar [value]="90" color="#BF46E8" styleClass="progress mt-2" [style]="{ height: '10px' }" [showValue]="false" ></p-progressBar>
            </div>
            <div class="skills mt-3">
              <span>Ui & UX</span>
              <p-progressBar [value]="70" color="#BF46E8" styleClass="progress mt-2" [style]="{ height: '10px' }" [showValue]="false" ></p-progressBar>
            </div>
            <div class="skills mt-3">
              <span>Back End</span>
              <p-progressBar [value]="30" color="#BF46E8" styleClass="progress mt-2" [style]="{ height: '10px' }" [showValue]="false" ></p-progressBar>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 summery">
        <h2 class="mb-3">About Me</h2>
        <p class="fs-5 ">
          As a highly motivated <span class="fw-normal">Front-End Developer,</span>
          My passion for web development has driven me to
          Seek out opportunities to grow my skills and knowledge.
        </p>
        <p class="fs-5 ">
          I have honed my skills in front-end development, including
          proficiency in <span class="fw-normal">HTML, CSS, JavaScript, Typescript, JQuery, Bootstrap</span>
          and various front-end frameworks like <span class="fw-normal">Angular.</span>
        </p>
        <p class="fs-5 ">
          I am seeking a progressive organization
          That will provide me with the opportunity to apply my technical skills
          and continue learning and growing as a Front-End Developer.
        </p>
      </div>
    </div>
  </div>
</div>
